.work-principal-image {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  z-index: -10;
}

.second-work-image {
  width: 100%;
}

.view {
  text-align: center;
  padding: 3rem 3rem;
  
  a {
    color: unset;
  }

  h3 {
    margin-bottom: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    font-size: 1.6rem;
    margin-right: 1rem;
  }
  
  &.site {
    color: darkblue;
    background-color: aquamarine;
  }

  &.code {
    color: white;
    background-color: darkblue;
  }
}