.sider {
  background-color: darkblue;
  padding: 3rem 0;
  text-align: center;
  height: 100%;
}

.nav-item {
  margin-bottom: 0.5rem;
  
  a {
    color: aquamarine;
    opacity: 0.8;
  }

  a:hover {
    color: white;
  }

  &.selected a {
    color: white;
  }
}

.sider-collapse,
.sider-collapse.collapse {
  display: none;
}

.sider-normal {
  display: block;
}

.sider-icon {
  padding-left: 0;
}

.sider-icon img {
  vertical-align: middle;
  border-radius: 50%;
  margin-bottom: 3.5rem;
  height: 100px;
}

.sider-menu {
  text-align: right;
  padding-right: 4rem !important;

  .btn svg {
    font-size: 2rem;
  }
}

@media (max-width: 1199px) {
  
  .sider-collapse {
    display: inline-block;
  }

  .sider-collapse.collapse {
    display: block;
  }

  .sider-normal {
    display: none;
  }

  .sider-icon {
    text-align: left;
    padding-left: 4rem !important;
  }

  .sider-icon img {
    margin-bottom: 0;
    height: 50px;
  }

  .sider-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .sider {
    padding: 1rem 0;
  }
}